<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <!-- File Target - Log to file in AppDataDirectory -->
    <target xsi:type="File" 
            name="fileTarget"
            fileName="${specialfolder:folder=ApplicationData}/VitaRaiz/Logs/vitaraiz-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveFileName="${specialfolder:folder=ApplicationData}/VitaRaiz/Logs/vitaraiz-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Debug Target - Output to Debug window -->
    <target xsi:type="Debug" 
            name="debugTarget"
            layout="${time}|${level:uppercase=true:padding=-5}|${logger:shortName=true}|${message}" />

    <!-- Console Target -->
    <target xsi:type="Console" 
            name="consoleTarget"
            layout="${time}|${level:uppercase=true:padding=-5}|${logger:shortName=true}|${message}" />
  </targets>

  <rules>
    <!-- All logs to file -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    
    <!-- Error and above to debug output -->
    <logger name="*" minlevel="Info" writeTo="debugTarget" />
    
    <!-- Console output for important logs -->
    <logger name="*" minlevel="Warn" writeTo="consoleTarget" />
  </rules>
</nlog>
